<header class="main-header">
    <div class="container">
        <div class="row personal-profile">
            <div class="col-md-4 personal-profile__avatar">
                <img class="" src="IMG_3205.jpg" alt="avatar">
            </div>
            <div class="col-md-8">
                <p class="personal-profile__name" id="hello_header" >Lesedi Sedibe</p>
                <p class="personal-profile__work">Software Developer</p>
                <div class="personal-profile__contacts">
                    <dl class="contact-list contact-list__opacity-titles">
                        <dt>Age:</dt>
                        <dd>21</dd>
                        <dt>Phone:</dt>
                        <dd><a href="tel:82344563333">065-828-7317</a></dd>
                        <dt>Email:</dt>
                        <dd><a href="mailto:mail@mail.com">sedibemmathapelo@gmail.com</a></dd>
                        <dt>City:</dt>
                        <dd>Pretoria</dd>
                    </dl>
                </div>
                <p class="personal-profile__social">
                    <a href="https://github.com/SedibeLM" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="www.linkedin.com/in/lesedi-mmathapelo-sedibe" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                </p>
            </div>
        </div>
    </div>
</header>